<include file="Public/shead" />
<style>
    #postdata{
        background-color: transparent;
        border-color: #009688;
        color: #009688;
    }

    #postdata:hover{
        background: #009688;
        color: white;
    }
</style>

<!--<main class="main-cont content mCustomScrollbar">-->

    <div class="page-wrap">
        <section class="page-hd">
            <header>
                <h2 class="title"><i class="icon-columns"></i>修改用户密码</h2>
            </header>
            <hr>
        </section>

        <form class="layui-form layui-form-pane" action="">

            <div class="layui-form-item">
            <label class="layui-form-label">用户账号</label>
            <div class="layui-input-block">
            <input type="text" name="title" autocomplete="off" placeholder="" class="layui-input">
            </div>
            </div>


            <div class="layui-form-item">
            <label class="layui-form-label">用户密码</label>
            <div class="layui-input-block">
            <input type="text" name="title" autocomplete="off" placeholder="" class="layui-input">
            </div>
            </div>


            <div class="layui-form-item">
                <button class="btn btn-danger-outline btn-block" style="width: 100%; display:block;margin: 0 auto; margin-top: 100px;" id="postdata">立即提交</button>
            </div>
        </form>
    </div>
<!--</main>-->