<include file="Public/shead" />
<include file="Public/menu" />
<!-------------------------------------------------------------------------------------------------------------------->

<main class="main-cont content mCustomScrollbar">

    <div class="page-wrap">
        <section class="page-hd">
            <header>
                <h2 class="title"><i class="icon-user"></i>修改密码</h2>
            </header>
            <hr>
        </section>

        <form class="layui-form layui-form-pane" action="">


            <div class="layui-form-item">
                <label class="layui-form-label">原始密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">新的密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="newpassword" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="cnewpassword" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="demo2">提交</button>
            </div>
        </form>
    </div>
</main>

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>



    var postUrl  = '/index.php/Admin/acount/ajaxUpdatePassowrd';


    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form()
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        form.verify({});


        //监听提交
        form.on('submit(demo2)', function(data){
            if(data.field.newpassword != data.field.cnewpassword){
                layer.msg('新的密码与确认密码不一致',{icon:5});
                return false;
            }

            if (data.field.newpassword.length <= 6){
                layer.msg('新密码必须大于6位',{icon:5});
                return false;
            }

            postData(postUrl,data)
        });
    });


    function postData(postDataUrl,Data) {
        var loading      = layer.load(1,{shade: [0.5,'#3C3F41']},{time: 30*1000});
        $.ajax({
            type: "POST",
            url: postDataUrl,
            data:Data.field,
            dataType: "json",
            timeout:20000,
            success: function(data){
                layer.close(loading);
                if(data.code == 200) {
                    layer.msg(data.msg, {icon: 6},function () {
                        location.href = '/index.php/Admin/acount/userinfo';
                    });
                }else{
                    layer.msg(data.msg,{icon:5});
                }
            },
            error:function (XMLHttpRequest, Status) {
                layer.close(loading);
                if(Status == 'timeout'){
                    layer.close(index);
                    layer.msg('请求超时',{icon:5});
                }
            }
        })
    }


</script>

<include file="Public/ft" />