<include file="Public/shead" />
<include file="Public/menu" />
<!-------------------------------------------------------------------------------------------------------------------->

<main class="main-cont content mCustomScrollbar">

    <div class="page-wrap">
        <section class="page-hd">
            <header>
                <h2 class="title"><i class="icon-columns"></i>添加企业</h2>
            </header>
            <hr>
        </section>

        <form class="layui-form layui-form-pane" action="">


            <div class="layui-form-item">
                <label class="layui-form-label">企业名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="company" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">企业分类</label>
                <div class="layui-input-inline">
                    <input type="checkbox" name="open" lay-skin="switch" lay-filter="switchTest" title="开关" lay-text="开|">
                </div>
            </div>

            <div class="layui-form-item">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="demo2">提交</button>
            </div>
        </form>
    </div>
</main>

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>



    var postCompanyUrl  = '/index.php/Admin/setting/ajaxPostCompany';


    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form()
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        form.verify({});


        form.on('switch(switchTest)', function(data){
            layer.tips('默认 选择体内企业', data.othis);
            if(this.checked == true){
                layer.tips('当前 选择体外企业', data.othis)
            }else{
                layer.tips('当前 选择体内企业', data.othis)
            }

        });



        //监听提交
        form.on('submit(demo2)', function(data){
//            if(data.field.users == 0){
//                layer.msg('请选择企业负责人',{icon:5,shift:6});
//                return false;
//            }

            data.field.tag = data.field.open == 'on' ? 1:0;
            postData(postCompanyUrl,data)
        });
    });


    function postData(postDataUrl,Data) {
        var loading      = layer.load(1,{shade: [0.5,'#3C3F41']},{time: 30*1000});
        $.ajax({
            type: "POST",
            url: postDataUrl,
            data:Data.field,
            dataType: "json",
            timeout:20000,
            success: function(data){
                layer.close(loading);
                if(data.code == 200) {
                    layer.msg(data.msg, {icon: 6},function () {
                        location.href = '/index.php/Admin/setting/companyslist';
                    });
                }else{
                    layer.msg(data.msg,{icon:5});
                }
            },
            error:function (XMLHttpRequest, Status) {
                layer.close(loading);
                if(Status == 'timeout'){
                    layer.close(index);
                    layer.msg('请求超时',{icon:5});
                }
            }
        })
    }


</script>

<include file="Public/ft" />