<include file="Public/shead" />
<include file="Public/menu" />
<!-------------------------------------------------------------------------------------------------------------------->

<main class="main-cont content mCustomScrollbar">

    <div class="page-wrap">
        <section class="page-hd">
            <header>
                <h2 class="title"><i class="icon-edit"></i>编辑用户</h2>
            </header>
            <hr>
        </section>

        <form class="layui-form layui-form-pane" action="">
            <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">长输入框</label>-->
            <!--<div class="layui-input-block">-->
            <!--<input type="text" name="title" autocomplete="off" placeholder="请输入标题" class="layui-input">-->
            <!--</div>-->
            <!--</div>-->

            <div class="layui-form-item">
                <label class="layui-form-label">用户账号</label>
                <div class="layui-input-inline">
                    <input type="text" name="username"  placeholder="请输入用户账号" value="{$userInfo.username}"   lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name"  placeholder="请输入用户姓名" value="{$userInfo.name}"  lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">移动电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="phone"  autocomplete="off"  placeholder="请输入移动电话" value="{$userInfo.phone}" lay-verify="required" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">企业微信</label>
                    <div class="layui-input-inline">
                        <input type="text" name="companywechat" value="{$userInfo.wechat}"  readonly= 'readonly'  autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">EMAIL</label>
                    <div class="layui-input-inline">
                        <input type="text" name="email"  placeholder="请输入EMAIL"  value="{$userInfo.email}" lay-verify="required" class="layui-input">
                    </div>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">职位</label>
                <div class="layui-input-block">
                        <input type="checkbox" name="position[salas]" id="salas"   title="业务" lay-filter="identity"   <if condition="$userInfo.is_salas eq 1">checked="" </if> ><div class="layui-unselect layui-form-checkbox layui-form-checked" lay-skin=""><span>业务</span><i class="layui-icon"></i></div>
                        <input type="checkbox" name="position[finance]"  id="finance" title="财务"  lay-filter="identity"  <if condition="$userInfo.is_finance eq 1">   checked=""    </if>      ><div class="layui-unselect layui-form-checkbox layui-form-checked" lay-skin=""><span>财务</span><i class="layui-icon"></i></div>
                </div>
            </div>

            <div class="layui-form-item"  id="select3"  <if condition="$userInfo.is_finance eq 1"> style="display: none" </if>>
                <label class="layui-form-label">所属分组</label>
                <div class="layui-input-inline">
                    <select name="group"  id="group" lay-filter="group">
                        <if condition="$userInfo.group gt 0">
                            <option value="{$userInfo.group}">{$userInfo.group_name}</option>
                            <else/>
                            <if condition="$userInfo.is_salas eq 1">
                            <option value="0">没有所属的组</option>
                            <else/>
                            <option value="0">请选择分组</option>
                            </if>
                        </if>
                        <foreach name="group" item="vo" >
                            <option value="{$vo.id}">{$vo.group_name}</option>
                        </foreach>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">所属公司</label>
                <div class="layui-input-inline" id="select1">
                    <select name="company"  id="company" lay-filter="company" lay-verify="required">
                        <if condition="$userInfo.cid gt 0">
                            <option value="{$userInfo.cid}">{$userInfo.company_name}</option>
                            <else/>
                            <option value="">没有所属的公司</option>
                        </if>
                        <foreach name="company" item="vo" >
                            <option value="{$vo.id}">{$vo.company}</option>
                        </foreach>
                    </select>
                </div>
                <div class="layui-input-inline"   id="select2">
                    <select name="department" id="department">
                        <if condition="$userInfo.did gt 0">
                            <option value="{$userInfo.did}">{$userInfo.department_name}</option>
                            <else/>
                            <option value="">没有所属的部</option>
                        </if>
                        <foreach name="department" item="vo" >
                            <option value="{$vo.id}">{$vo.department}</option>
                        </foreach>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="demo2">提交</button>
            </div>
        </form>
    </div>
</main>

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>

    var postDataUrl      = '/index.php/Admin/setting/ajaxEditUser';
    var getDepartmentUrl = '/index.php/Admin/setting/ajaxGetDepartment';
    var is_finance = 0;

    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form()
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //监听指定开关
        form.on('switch(switchTest)', function(data){

            layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        form.on('checkbox(identity)',function (data) {
            var id = $(this).attr('id');
            if(id == 'salas'){
                $('#finance').prop('checked',false);
                $('#salas').prop('checked',true);
//                $('#identity').val('salas');
                $('#select3').show();
            }else{
                $('#salas').prop('checked',false);
                $('#finance').prop('checked',true);
//                $('#identity').val('finance');
                $("#group").val(null)
                $('#select3').hide();
                is_finance = 1;
            }
            form.render();
        });


        //监听提交
        form.on('submit(demo2)', function(data){
            data.field.id = '{$userInfo.id}';
            if(is_finance == 0){
                if(data.field.group == 0){
                    layer.msg('请选择分组',{icon:5,shift:6});
                    return false;
                }
            }

            if(data.field.department == 0){
                layer.msg('请选择部门',{icon:5,shift:6});
                return false;
            }
            postData(postDataUrl,data);
        });
    });




    function postData(postDataUrl,Data) {
        var loading      = layer.load(1,{shade: [0.5,'#3C3F41']},{time: 30*1000});
        $.ajax({
            type: "POST",
            url: postDataUrl,
            data:Data.field,
            dataType: "json",
            timeout:20000,
            success: function(data){
                layer.close(loading);
                if(data.code == 200) {
                    layer.msg(data.msg, {icon: 6},function () {
                        location.href = '/index.php/Admin/setting/userslist';
                    });
                }else{
                    layer.msg(data.msg,{icon:5});
                }
            },
            error:function (XMLHttpRequest, Status) {
                layer.close(loading);
                if(Status == 'timeout'){
                    layer.close(index);
                    layer.msg('请求超时',{icon:5});
                }
            }
        })
    }


    /**
     * 判断是否为中文
     * @param str
     * @returns {boolean}
     */
    function isChn(str){
        var reg = /^[\u4E00-\u9FA5]+$/;
        if(!reg.test(str)){return false;}
        return true;
    }
</script>

<include file="Public/ft" />
