<include file="Public/shead" />
<include file="Public/menu" />
<!-------------------------------------------------------------------------------------------------------------------->

<main class="main-cont content mCustomScrollbar">

    <div class="page-wrap">
        <section class="page-hd">
            <header>
                <h2 class="title"><i class="icon-user-md"></i>指派企业负责人</h2>
            </header>
            <hr>
        </section>

        <form class="layui-form layui-form-pane" action="">


            <div class="layui-form-item">
                <label class="layui-form-label">企业名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="company" lay-verify="required"  value="{$company.company}" readonly="readonly" autocomplete="off" class="layui-input">
                    <input type="hidden" name="id" value="{$company.id}">
                </div>
            </div>


            <div class="layui-form-item" id="select3">
                <label class="layui-form-label">负责人</label>
                <div class="layui-input-inline">
                    <select name="users"  id="users" lay-filter="users">

                        <if condition="$company.uid gt 0">
                            <option value="{$userInfo.group}">{$company.user_name}</option>
                            <else/>
                            <option value="0">请选择负责人</option>
                        </if>
                        <option value="{$users.id}">{$users.name}</option>
                        <foreach name="users" item="vo" >
                            <option value="{$vo.id}">{$vo.name}</option>
                        </foreach>
                    </select>
                </div>
            </div>


            <div class="layui-form-item">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="demo2">提交</button>
            </div>
        </form>
    </div>
</main>

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>


    var postGroupLeader  = '/index.php/Admin/setting/ajaxEditCompany';

    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form()
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        form.verify({});


        //监听提交
        form.on('submit(demo2)', function(data){
            if(data.field.users == '{$groupRes.group_leader}'  &&  data.field.group == '{$groupRes.group_name}'){
                layer.msg('未做修改请勿提交',{icon:5,shift:6});
                return false;
            }
            postData(postGroupLeader,data)
        });
    });



    function postData(postDataUrl,Data) {
        var loading      = layer.load(1,{shade: [0.5,'#3C3F41']},{time: 30*1000});
        $.ajax({
            type: "POST",
            url: postDataUrl,
            data:Data.field,
            dataType: "json",
            timeout:20000,
            success: function(data){
                layer.close(loading);
                if(data.code == 200) {
                    layer.msg(data.msg, {icon: 6},function () {
                        location.href = '/index.php/Admin/setting/companyslist';
                    });
                }else{
                    layer.msg(data.msg,{icon:5});
                }
            },
            error:function (XMLHttpRequest, Status) {
                layer.close(loading);
                if(Status == 'timeout'){
                    layer.close(index);
                    layer.msg('请求超时',{icon:5});
                }
            }
        })
    }


</script>

<include file="Public/ft" />